.text-container {
    background-color: white;

}

#title {
    font-size: 3.85vw;
    line-height: 4vw;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#font-family {
    font-size: 5vw;
    font-weight: 700;
    line-height: 5vw;
}

#font-type {
    font-size: 4vw;
    font-weight: 500;
    line-height: 4vw;
    padding-top: 4vw;
}